code {
  color: #ff5252;
}
blockquote {
  font-size: 1.4em;
  font-family: Open Sans;
  font-style: italic;
  color: #555555;
  padding: 0 30px;
  border-left: 8px solid #78c0a8;
  line-height: 1.6;
  position: relative;
  background: #ededed;
}
.language-js {
  display: block;
  padding: 1em;
  overflow-y: auto;
  overflow-x: hidden;
  background: #002b36;
  color: #839496;
}
